@media (min-width : 1200px) {
    .container {
        width : 1200px
    }
}

ul li {
    list-style : none
}

a:hover {
    text-decoration : none
}

@font-face {
    font-family : GenBasB;
    src         : url(../fonts/GenBasB.ttf)
}

@font-face {
    font-family : YesevaOne;
    src         : url(../fonts/YesevaOne-Regular_v2-webfont.woff)
}

@font-face {
    font-family : Lato;
    src         : url(../fonts/Lato-Regular.ttf)
}

@font-face {
    font-family : GenBkBasB;
    src         : url(../fonts/GenBkBasB.ttf)
}

.wrapper .main-header {
    background         : url("../images/bg-header.jpg") no-repeat center;
    -webkit-box-shadow : inset 0 44px 64px -16px rgba(0, 0, 0, 0.8);
    -moz-box-shadow    : inset 0 44px 64px -16px rgba(0, 0, 0, 0.8);
    box-shadow         : inset 0 44px 64px -16px rgba(0, 0, 0, 0.8)
}

.wrapper .main-header a.logo {
    display     : inline-block;
    margin-left : -40px;
    float       : left;
    line-height : 100px
}

.wrapper .main-header nav {
    float : right
}

.wrapper .menu li {
    float        : left;
    font-size    : 21px;
    margin-right : 50px;
    line-height  : 110px
}

.wrapper .menu li a {
    color       : #fff;
    font-family : GenBasB;
    position    : relative
}

.wrapper .menu li:not(.soceity) a:hover:before {
    content    : '';
    border-top : 3px solid #cac8bf;
    width      : 100%;
    display    : inline-block;
    position   : absolute
}

.wrapper .menu .last, .wrapper .menu .soceity {
    margin-right : 15px
}

.wrapper .menu .no-mr {
    margin-right : 0px
}

.wrapper .menu .soceity a {
    color : #dab33e
}

.wrapper .slogan {
    background     : url("../images/icon-slogan.png") no-repeat center bottom;
    padding-bottom : 65px
}

.wrapper .slogan h1 {
    font-size   : 90px;
    text-align  : center;
    color       : #fff;
    padding     : 0px 52px;
    font-family : YesevaOne;
    font-weight : normal
}

.wrapper .btn-header {
    text-align    : center;
    margin-top    : 35px;
    margin-bottom : 142px
}

.wrapper .btn-header > a {
    width       : 228px;
    height      : 57px;
    display     : inline-block;
    text-align  : center;
    line-height : 57px;
    color       : #fff
}

.wrapper .btn-header .btn-book {
    border       : 1px solid #000;
    background   : rgba(0, 0, 0, 0.47);
    margin-right : 30px
}

.wrapper .btn-header .btn-see-mn:hover {
    border     : 1px solid #000;
    background : rgba(0, 0, 0, 0.47)
}

.wrapper .btn-header > a:visited {
    text-decoration : none
}

.wrapper .btn-header > a:link {
    text-decoration : none
}

.wrapper .btn-header .btn-see-mn, .wrapper .btn-header .btn-book:hover {
    background : rgba(255, 255, 255, 0.31);
    border     : 1px solid #fff
}

.wrapper .st_first {
    padding    : 62px 0px;
    background : url("../images/bg_section.jpg") no-repeat center
}

.wrapper .st_first .col-md-6:first-of-type {
    text-align    : center;
    padding-right : 50px
}

.wrapper .st_first .col-md-6:first-of-type img {
    margin-right : -71px;
    margin-top   : 28px
}

.wrapper .st_first .row {
    padding : 0px 100px
}

.wrapper .st_first .title {
    font-size      : 36px;
    color          : #cc9900;
    font-family    : YesevaOne;
    background     : url("../images/icon_st_title_fs.png") no-repeat center bottom;
    padding-bottom : 40px;
    margin-bottom  : 35px
}

.wrapper .st_first p {
    font-size   : 16px;
    font-family : Lato
}

.wrapper .st_first .col-md-6:last-of-type {
    padding : 0px
}

.wrapper .st_first .col-md-6:last-of-type img {
    width              : 102%;
    -webkit-box-shadow : 0 44px 64px -16px rgba(0, 0, 0, 0.26);
    -moz-box-shadow    : 0 44px 64px -16px rgba(0, 0, 0, 0.26);
    box-shadow         : 0 44px 64px -16px rgba(0, 0, 0, 0.26);
    border-radius      : 100%
}

.wrapper .st_second {
    background      : url(../images/bg_section_sc.jpg) no-repeat;
    padding         : 100px 0px;
    background-size : cover;
    color           : #fff
}

.wrapper .st_second .info_food {
    padding    : 60px 77px;
    text-align : center;
    background : rgba(0, 0, 0, 0.64)
}

.wrapper .st_second .info_food .title {
    font-size      : 36px;
    font-family    : YesevaOne;
    background     : url(../images/icon_st_title_sc.png) no-repeat center bottom;
    padding-bottom : 42px;
    margin-bottom  : 20px;
    margin-top     : 0px
}

.wrapper .st_second .info_food p {
    font-family : Lato;
    font-size   : 16px;
    line-height : 22px
}

.wrapper .st_second .info_food .img_food {
    margin-top : 65px
}

.wrapper .st_second .info_food .img_food img {
    border-radius : 50%;
    border        : 6px solid #433f3a
}

.wrapper .st_second .info_food .img_food img:nth-child(2) {
    margin : 0px 30px
}

.wrapper .st_third {
    padding    : 45px 0px;
    background : url("../images/bg_section.png");
    position   : relative
}

.wrapper .st_third:before {
    content    : " ";
    width      : 100%;
    height     : 100%;
    position   : absolute;
    opacity    : 0.4;
    top        : 0;
    left       : 0;
    background : -webkit-linear-gradient(left top, #ebf0f0, #f9f9f9);
    background : -o-linear-gradient(bottom right, #ebf0f0, #f9f9f9);
    background : -moz-linear-gradient(bottom right, #ebf0f0, #f9f9f9);
    background : linear-gradient(to bottom right, #ebf0f0, #f9f9f9)
}

.wrapper .st_third .mn_left, .wrapper .st_third .mn_right {
    padding : 0px 70px
}

.wrapper .st_third .mn_left ul, .wrapper .st_third .mn_right ul {
    font-family : YesevaOne;
    padding     : 0px
}

.wrapper .st_third .mn_left ul li, .wrapper .st_third .mn_right ul li {
    margin-bottom : 25px
}

.wrapper .st_third .mn_left ul .name_and_price, .wrapper .st_third .mn_right ul .name_and_price {
    font-size      : 21px;
    border-bottom  : 1px solid;
    padding-bottom : 10px;
    margin-bottom  : 10px
}

.wrapper .st_third .mn_left ul span, .wrapper .st_third .mn_right ul span {
    display : inline-block
}

.wrapper .st_third .mn_left ul .name, .wrapper .st_third .mn_right ul .name {
    float       : left;
    padding-top : 6px
}

.wrapper .st_third .mn_left ul .price, .wrapper .st_third .mn_right ul .price {
    float       : right;
    padding-top : 6px
}

.wrapper .st_third .mn_left ul .li_special, .wrapper .st_third .mn_right ul .li_special {
    position     : relative;
    border       : 1px solid #d6b967;
    border-right : 0px;
    border-left  : 0px
}

.wrapper .st_third .mn_left ul .li_special:before, .wrapper .st_third .mn_right ul .li_special:before {
    content      : '';
    height       : 102%;
    width        : 12px;
    border       : 1px solid #d6b967;
    position     : absolute;
    border-right : 0px;
    left         : -12px;
    top          : -1px
}

.wrapper .st_third .mn_left ul .li_special:after, .wrapper .st_third .mn_right ul .li_special:after {
    content     : '';
    height      : 102%;
    width       : 12px;
    border      : 1px solid #d6b967;
    position    : absolute;
    border-left : 0px;
    right       : -12px;
    top         : -1px
}

.wrapper .st_third .mn_left ul .li_special .special, .wrapper .st_third .mn_right ul .li_special .special {
    position   : absolute;
    bottom     : 100%;
    right      : -12px;
    background : #d6b967;
    font-size  : 14px;
    padding    : 2px 10px;
    color      : #fff
}

.wrapper .st_third .title, .wrapper .st_third .name_and_price {
    color : #cc9900
}

.wrapper .st_third p.summary {
    font-size     : 16px;
    margin-bottom : 35px;
    font-family   : Lato
}

.wrapper .st_third .title {
    font-size      : 36px;
    text-align     : center;
    background     : url("../images/icon_st_title_td.png") no-repeat center bottom;
    padding-bottom : 36px;
    margin-bottom  : 26px;
    padding-top    : 12px;
    font-family    : YesevaOne
}

.wrapper .sc_four {
    background              : url("../images/bg_section_four.jpg") no-repeat center;
    -webkit-background-size : cover;
    background-size         : cover;
    padding                 : 100px 0px
}

.wrapper .sc_four .review {
    background : rgba(0, 0, 0, 0.78);
    text-align : center;
    color      : #fff;
    padding    : 70px
}

.wrapper .sc_four .review .title {
    font-size      : 36px;
    font-family    : YesevaOne;
    background     : url(../images/icon_st_title_fr.png) no-repeat center bottom;
    padding-bottom : 40px;
    margin-bottom  : 18px
}

.wrapper .sc_four .review p {
    font-size   : 25px;
    font-family : GenBkBasB;
    position    : relative
}

.wrapper .sc_four .review p:before {
    content    : '';
    background : url(../images/icon_p_sc_fr.png) no-repeat left top;
    position   : absolute;
    width      : 32px;
    height     : 25px;
    left       : -40px
}

.wrapper .sc_four .review p span {
    display       : block;
    text-align    : center;
    margin-top    : 40px;
    font-size     : 18px;
    margin-bottom : 35px
}

.wrapper .sc_fifth {
    background              : url("../images/bg_section_fif.jpg") no-repeat center;
    -webkit-background-size : cover;
    background-size         : cover;
    padding                 : 100px 0px
}

.wrapper .sc_fifth .img_bk_fd img {
    width : 100%
}

.wrapper .sc_fifth .form_bk_fd {
    padding : 0px 85px
}

.wrapper .sc_fifth .smy_fd {
    margin-bottom : 45px
}

.wrapper .sc_fifth .title {
    color          : #cc9900;
    font-size      : 36px;
    background     : url(../images/icon_st_title_fs.png) no-repeat center bottom;
    padding-bottom : 35px;
    margin-bottom  : 25px;
    text-align     : center;
    font-family    : YesevaOne;
    margin-top     : 0px
}

.wrapper .sc_fifth p {
    font-size   : 16px;
    text-align  : center;
    font-family : Lato
}

.wrapper .sc_fifth .book label {
    color : #cc9900
}

.wrapper .sc_fifth .book input, .wrapper .sc_fifth .book select {
    border-radius : 0px;
    background    : rgba(255, 255, 255, 0.51);
    font-style    : italic;
    outline       : none
}

.wrapper .sc_fifth .book input:focus, .wrapper .sc_fifth .book select:focus {
    border-color       : #cc9900;
    outline            : 0;
    -webkit-box-shadow : none;
    box-shadow         : none
}

.wrapper .sc_fifth .book .inp_submit {
    margin-bottom : 0px
}

.wrapper .sc_fifth .book .inp_submit input {
    font-size  : 16px;
    color      : #fff;
    text-align : center;
    font-style : normal;
    border     : none;
    background : #c9a131;
    margin-top : 40px
}

.wrapper .sc_fifth .book .date {
    position : relative
}

.wrapper .sc_fifth .book .date:before {
    position : absolute;
    font     : normal normal normal 14px/1 FontAwesome;
    content  : "\f073";
    right    : 22px;
    bottom   : 11px
}

.wrapper footer {
    background : #191919;
    color      : #fff;
    text-align : center;
    padding    : 52px 0px
}

.wrapper footer .title {
    font-size      : 21px;
    font-family    : YesevaOne;
    background     : url("../images/bg_title_footer.png") no-repeat center bottom;
    padding-bottom : 35px;
    margin-bottom  : 20px
}

.wrapper footer p {
    font-size   : 16px;
    line-height : 23px
}

.wrapper footer .open_hour p {
    margin-bottom : 1px
}

.wrapper footer .open_hour, .wrapper footer .our_local {
    padding : 0px 85px
}

.wrapper footer .card, .wrapper footer .socie {
    margin-top : 45px
}

.wrapper footer .card i, .wrapper footer .socie i {
    font-size    : 17px !important;
    margin-right : 8px;
    color        : #fff
}

/*# sourceMappingURL=style.css.map */
